<nav class="nav-bar">
  <div class="nav-brand">
    <a routerLink="/">Dashboard</a>
  </div>
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/feedback" routerLinkActive="active">Feedback</a>
    @if (user$ | async; as user) {
    <a routerLink="/profile" routerLinkActive="active"><span class="profile-icon">👤Profile</span></a>
    <a (click)="logout()">Logout</a>
    } @else {
    <a routerLink="/auth" routerLinkActive="active">Login/Register</a>
    }
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
